{% extends 'base.html.twig' %}

{% block body %}

    <div class="Article-navbar">
        Create Article !!!!
    </div>
    </br>
    {{ form_start(galleryForm)  }}

    {{ form_row(galleryForm.photo) }}
    </br>
  {{ form_row(galleryForm.name) }}
    </br>

    <button type="submit" class="btn btn-success"> Dodaj </button>

    {{ form_end(galleryForm)  }}


{% endblock %}